<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaicom.dao.BikeLocationMapper">
  <resultMap id="BaseResultMap" type="com.kaicom.model.BikeLocation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <id column="vendor" jdbcType="VARCHAR" property="vendor" />
    <id column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="lat" jdbcType="DOUBLE" property="lat" />
    <result column="lng" jdbcType="DOUBLE" property="lng" />
    <result column="bat_vol" jdbcType="TINYINT" property="batVol" />
    <result column="alt" jdbcType="SMALLINT" property="alt" />
    <result column="speed" jdbcType="SMALLINT" property="speed" />
    <result column="course" jdbcType="SMALLINT" property="course" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="signal_db" jdbcType="TINYINT" property="signalDb" />
    <result column="gnss" jdbcType="TINYINT" property="gnss" />
    <result column="lock_status" jdbcType="TINYINT" property="lockStatus" />
    <result column="upload_status" jdbcType="TINYINT" property="uploadStatus" />
    <result column="mcc" jdbcType="SMALLINT" property="mcc" />
    <result column="mnc" jdbcType="SMALLINT" property="mnc" />
    <result column="lac" jdbcType="VARCHAR" property="lac" />
    <result column="bt_version" jdbcType="INTEGER" property="btVersion" />
    <result column="gsm_version" jdbcType="INTEGER" property="gsmVersion" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, device_id, vendor, product_id, lat, lng, bat_vol, alt, speed, course, time, signal_db, 
    gnss, lock_status, upload_status, mcc, mnc, lac, bt_version, gsm_version, create_time
  </sql>
  <select id="selectByExample" parameterType="com.kaicom.model.BikeLocationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kl_location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.kaicom.model.BikeLocationKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kl_location
    where id = #{id,jdbcType=INTEGER}
      and device_id = #{deviceId,jdbcType=VARCHAR}
      and vendor = #{vendor,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.kaicom.model.BikeLocationKey">
    delete from kl_location
    where id = #{id,jdbcType=INTEGER}
      and device_id = #{deviceId,jdbcType=VARCHAR}
      and vendor = #{vendor,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.kaicom.model.BikeLocationExample">
    delete from kl_location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kaicom.model.BikeLocation">
    insert into kl_location (id, device_id, vendor, 
      product_id, lat, lng, 
      bat_vol, alt, speed, 
      course, time, signal_db, 
      gnss, lock_status, upload_status, 
      mcc, mnc, lac, bt_version, 
      gsm_version, create_time)
    values (#{id,jdbcType=INTEGER}, #{deviceId,jdbcType=VARCHAR}, #{vendor,jdbcType=VARCHAR}, 
      #{productId,jdbcType=VARCHAR}, #{lat,jdbcType=DOUBLE}, #{lng,jdbcType=DOUBLE}, 
      #{batVol,jdbcType=TINYINT}, #{alt,jdbcType=SMALLINT}, #{speed,jdbcType=SMALLINT}, 
      #{course,jdbcType=SMALLINT}, #{time,jdbcType=TIMESTAMP}, #{signalDb,jdbcType=TINYINT}, 
      #{gnss,jdbcType=TINYINT}, #{lockStatus,jdbcType=TINYINT}, #{uploadStatus,jdbcType=TINYINT}, 
      #{mcc,jdbcType=SMALLINT}, #{mnc,jdbcType=SMALLINT}, #{lac,jdbcType=VARCHAR}, #{btVersion,jdbcType=INTEGER}, 
      #{gsmVersion,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kaicom.model.BikeLocation">
    insert into kl_location
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="vendor != null">
        vendor,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="lat != null">
        lat,
      </if>
      <if test="lng != null">
        lng,
      </if>
      <if test="batVol != null">
        bat_vol,
      </if>
      <if test="alt != null">
        alt,
      </if>
      <if test="speed != null">
        speed,
      </if>
      <if test="course != null">
        course,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="signalDb != null">
        signal_db,
      </if>
      <if test="gnss != null">
        gnss,
      </if>
      <if test="lockStatus != null">
        lock_status,
      </if>
      <if test="uploadStatus != null">
        upload_status,
      </if>
      <if test="mcc != null">
        mcc,
      </if>
      <if test="mnc != null">
        mnc,
      </if>
      <if test="lac != null">
        lac,
      </if>
      <if test="btVersion != null">
        bt_version,
      </if>
      <if test="gsmVersion != null">
        gsm_version,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="vendor != null">
        #{vendor,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=DOUBLE},
      </if>
      <if test="lng != null">
        #{lng,jdbcType=DOUBLE},
      </if>
      <if test="batVol != null">
        #{batVol,jdbcType=TINYINT},
      </if>
      <if test="alt != null">
        #{alt,jdbcType=SMALLINT},
      </if>
      <if test="speed != null">
        #{speed,jdbcType=SMALLINT},
      </if>
      <if test="course != null">
        #{course,jdbcType=SMALLINT},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="signalDb != null">
        #{signalDb,jdbcType=TINYINT},
      </if>
      <if test="gnss != null">
        #{gnss,jdbcType=TINYINT},
      </if>
      <if test="lockStatus != null">
        #{lockStatus,jdbcType=TINYINT},
      </if>
      <if test="uploadStatus != null">
        #{uploadStatus,jdbcType=TINYINT},
      </if>
      <if test="mcc != null">
        #{mcc,jdbcType=SMALLINT},
      </if>
      <if test="mnc != null">
        #{mnc,jdbcType=SMALLINT},
      </if>
      <if test="lac != null">
        #{lac,jdbcType=VARCHAR},
      </if>
      <if test="btVersion != null">
        #{btVersion,jdbcType=INTEGER},
      </if>
      <if test="gsmVersion != null">
        #{gsmVersion,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kaicom.model.BikeLocationExample" resultType="java.lang.Long">
    select count(*) from kl_location
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update kl_location
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.deviceId != null">
        device_id = #{record.deviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.vendor != null">
        vendor = #{record.vendor,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null">
        product_id = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.lat != null">
        lat = #{record.lat,jdbcType=DOUBLE},
      </if>
      <if test="record.lng != null">
        lng = #{record.lng,jdbcType=DOUBLE},
      </if>
      <if test="record.batVol != null">
        bat_vol = #{record.batVol,jdbcType=TINYINT},
      </if>
      <if test="record.alt != null">
        alt = #{record.alt,jdbcType=SMALLINT},
      </if>
      <if test="record.speed != null">
        speed = #{record.speed,jdbcType=SMALLINT},
      </if>
      <if test="record.course != null">
        course = #{record.course,jdbcType=SMALLINT},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signalDb != null">
        signal_db = #{record.signalDb,jdbcType=TINYINT},
      </if>
      <if test="record.gnss != null">
        gnss = #{record.gnss,jdbcType=TINYINT},
      </if>
      <if test="record.lockStatus != null">
        lock_status = #{record.lockStatus,jdbcType=TINYINT},
      </if>
      <if test="record.uploadStatus != null">
        upload_status = #{record.uploadStatus,jdbcType=TINYINT},
      </if>
      <if test="record.mcc != null">
        mcc = #{record.mcc,jdbcType=SMALLINT},
      </if>
      <if test="record.mnc != null">
        mnc = #{record.mnc,jdbcType=SMALLINT},
      </if>
      <if test="record.lac != null">
        lac = #{record.lac,jdbcType=VARCHAR},
      </if>
      <if test="record.btVersion != null">
        bt_version = #{record.btVersion,jdbcType=INTEGER},
      </if>
      <if test="record.gsmVersion != null">
        gsm_version = #{record.gsmVersion,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update kl_location
    set id = #{record.id,jdbcType=INTEGER},
      device_id = #{record.deviceId,jdbcType=VARCHAR},
      vendor = #{record.vendor,jdbcType=VARCHAR},
      product_id = #{record.productId,jdbcType=VARCHAR},
      lat = #{record.lat,jdbcType=DOUBLE},
      lng = #{record.lng,jdbcType=DOUBLE},
      bat_vol = #{record.batVol,jdbcType=TINYINT},
      alt = #{record.alt,jdbcType=SMALLINT},
      speed = #{record.speed,jdbcType=SMALLINT},
      course = #{record.course,jdbcType=SMALLINT},
      time = #{record.time,jdbcType=TIMESTAMP},
      signal_db = #{record.signalDb,jdbcType=TINYINT},
      gnss = #{record.gnss,jdbcType=TINYINT},
      lock_status = #{record.lockStatus,jdbcType=TINYINT},
      upload_status = #{record.uploadStatus,jdbcType=TINYINT},
      mcc = #{record.mcc,jdbcType=SMALLINT},
      mnc = #{record.mnc,jdbcType=SMALLINT},
      lac = #{record.lac,jdbcType=VARCHAR},
      bt_version = #{record.btVersion,jdbcType=INTEGER},
      gsm_version = #{record.gsmVersion,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kaicom.model.BikeLocation">
    update kl_location
    <set>
      <if test="lat != null">
        lat = #{lat,jdbcType=DOUBLE},
      </if>
      <if test="lng != null">
        lng = #{lng,jdbcType=DOUBLE},
      </if>
      <if test="batVol != null">
        bat_vol = #{batVol,jdbcType=TINYINT},
      </if>
      <if test="alt != null">
        alt = #{alt,jdbcType=SMALLINT},
      </if>
      <if test="speed != null">
        speed = #{speed,jdbcType=SMALLINT},
      </if>
      <if test="course != null">
        course = #{course,jdbcType=SMALLINT},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="signalDb != null">
        signal_db = #{signalDb,jdbcType=TINYINT},
      </if>
      <if test="gnss != null">
        gnss = #{gnss,jdbcType=TINYINT},
      </if>
      <if test="lockStatus != null">
        lock_status = #{lockStatus,jdbcType=TINYINT},
      </if>
      <if test="uploadStatus != null">
        upload_status = #{uploadStatus,jdbcType=TINYINT},
      </if>
      <if test="mcc != null">
        mcc = #{mcc,jdbcType=SMALLINT},
      </if>
      <if test="mnc != null">
        mnc = #{mnc,jdbcType=SMALLINT},
      </if>
      <if test="lac != null">
        lac = #{lac,jdbcType=VARCHAR},
      </if>
      <if test="btVersion != null">
        bt_version = #{btVersion,jdbcType=INTEGER},
      </if>
      <if test="gsmVersion != null">
        gsm_version = #{gsmVersion,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and device_id = #{deviceId,jdbcType=VARCHAR}
      and vendor = #{vendor,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kaicom.model.BikeLocation">
    update kl_location
    set lat = #{lat,jdbcType=DOUBLE},
      lng = #{lng,jdbcType=DOUBLE},
      bat_vol = #{batVol,jdbcType=TINYINT},
      alt = #{alt,jdbcType=SMALLINT},
      speed = #{speed,jdbcType=SMALLINT},
      course = #{course,jdbcType=SMALLINT},
      time = #{time,jdbcType=TIMESTAMP},
      signal_db = #{signalDb,jdbcType=TINYINT},
      gnss = #{gnss,jdbcType=TINYINT},
      lock_status = #{lockStatus,jdbcType=TINYINT},
      upload_status = #{uploadStatus,jdbcType=TINYINT},
      mcc = #{mcc,jdbcType=SMALLINT},
      mnc = #{mnc,jdbcType=SMALLINT},
      lac = #{lac,jdbcType=VARCHAR},
      bt_version = #{btVersion,jdbcType=INTEGER},
      gsm_version = #{gsmVersion,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
      and device_id = #{deviceId,jdbcType=VARCHAR}
      and vendor = #{vendor,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </update>
</mapper>